.title {
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0036e6,
        0 0 40px #0017e6, 0 0 50px #003de6, 0 0 60px hsl(239, 100%, 45%),
        0 0 70px #0f00e6;
}
